# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build outputs
build/
dist/
*.spec
nuitka-crash-report.xml

# Local build files
/build.txt
/ver.txt

# IDE/editor files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
